<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout"
>
<head>
	<meta charset="utf-8" />
	<title>Fehler in der Anwendung</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="container">
		<h1 layout:fragment="header">Fehler in der Anwendung</h1>
		<div layout:fragment="content">
			<section>
				<div class="alert alert-danger" th:if="${path}">
					<b>Seite:</b> <a href="#" th:href="${path}" th:text="${path}">URL path</a>
				</div>
				<div class="alert alert-danger" th:if="${timestamp}">
					<b>Zeitpunkt:</b> <span th:text="${timestamp}">Timestamp</span>
				</div>
				<div class="alert alert-danger" th:if="${status}">
					<b>Status:</b> <span th:text="${status}">Status Code</span> <span th:if="${error}" th:text="'('+${error}+')'">(Reason)</span>
				</div>
				<div class="alert alert-danger" th:if="${message} and ${message.length() != 0}">
					<b>Meldung:</b> <span th:text="${message}">Message</span>
				</div>
				<div class="alert alert-danger" th:if="${ex} or ${exception}">
					<b>Ausnahme:</b> <span th:if="${ex}" th:text="${ex}">Exception</span> <span th:if="${exception}" th:text="${exception}">Exception</span>
					<pre th:if="${trace}" th:text="${trace}">Stack-Trace</pre>
				</div>
				<div class="alert alert-danger" th:unless="${ex} or ${exception} or (${message} and ${message.length() != 0})">
					<b>Unbekannte Ursache</b>
				</div>
			</section>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>