<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout"
>
<head>
	<meta charset="utf-8" />
	<title>Buchung</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="container">
		<h1 layout:fragment="header">Buchung</h1>
		<div layout:fragment="content">
			<form th:object="${entry}" th:action="@{/entry}" action="#" method="post" role="form">
				<div th:if="${#fields.hasErrors('${entry}')}" class="alert alert-danger" role="alert">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><p th:errors="${entry}">Allgemeiner Fehler</p>
				</div>
				<div id="accordion" class="panel-group" aria-multiselectable="true" role="tablist">
					<section class="panel panel-default">
						<div id="entry-heading" class="panel-heading" role="tab">
							<h2 class="panel-title">
								<a class="collapse-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#entry" aria-expanded="true" aria-controls="entry" role="button">
									Buchung
								</a>
							</h2>
						</div>
						<div id="entry" class="panel-collapse collapse in" aria-labelledby="entry-heading" role="tabpanel">
							<div class="panel-body">
								<div class="form-group" th:classappend="${#fields.hasErrors('id')}? 'has-error has-feedback'">
									<label for="id" class="control-label">ID:</label>
									<input type="text" class="form-control" th:field="*{id}" value="8ad72f6f-2a39-4846-8940-f6139f3d5597" placeholder="Wird automatisch vergeben" readonly="readonly"/><span th:if="${#fields.hasErrors('id')}" class="glyphicon glyphicon-remove form-control-feedback"></span>
									<div th:if="${#fields.hasErrors('id')}" class="alert alert-danger" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <span th:errors="*{id}">Fehler in der ID</span></div>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('date')}? 'has-error has-feedback'">
									<label for="date" class="control-label">Datum der Buchung:</label>
									<input type="text" class="form-control" th:field="*{date}" value="2016-11-01" /><span th:if="${#fields.hasErrors('date')}" class="glyphicon glyphicon-remove form-control-feedback"></span>
									<div th:if="${#fields.hasErrors('date')}" class="alert alert-danger" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <span th:errors="*{date}">Fehler im Buchungsdatum</span></div>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('numberOf')}? 'has-error has-feedback'">
									<label for="numberOf" class="control-label">Anzahl der Anteile oder Stückzahl:</label>
									<input type="text" class="form-control" th:field="*{numberOf}" value="1.2345" /><span th:if="${#fields.hasErrors('numberOf')}" class="glyphicon glyphicon-remove form-control-feedback"></span>
									<div th:if="${#fields.hasErrors('numberOf')}" class="alert alert-danger" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <span th:errors="*{numberOf}">Fehler in der Anzahl</span></div>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('price')}? 'has-error has-feedback'">
									<label for="price" class="control-label">Einzelpreis oder Kurs:</label>
									<div class="input-group">
										<input type="text" class="form-control" th:field="*{price}" value="1.234567" /><span class="input-group-addon glyphicon glyphicon-euro"></span>
									</div>
									<div th:if="${#fields.hasErrors('price')}" class="alert alert-danger" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <span th:errors="*{price}">Fehler im Preis</span></div>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('amount')}? 'has-error has-feedback'">
									<label for="amount" class="control-label">Gesamtsumme der Buchung:</label>
									<div class="input-group">
										<input type="text" class="form-control" th:field="*{amount}" value="1.524073" /><span class="input-group-addon glyphicon glyphicon-euro"></span>
									</div>
									<div th:if="${#fields.hasErrors('amount')}" class="alert alert-danger" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <span th:errors="*{amount}">Fehler in der Gesamtsumme</span></div>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('type')}? 'has-error has-feedback'">
									<label for="type" class="control-label">Buchungsart:</label>
									<select class="form-control" th:field="*{type}">
										<option value="buy" th:each="e: ${entryTypeList}" th:value="${e.key}" th:text="${e.value}">Wertpapier Kauf</option>
									</select>
									<div th:if="${#fields.hasErrors('type')}" class="alert alert-danger" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <span th:errors="*{type}">Fehler in der Buchungsart</span></div>
								</div>
								<div class="text-center">
									<button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-save"></span> Speichern</button>
								</div>
							</div>
						</div>
					</section>
					<section class="panel panel-default" th:if="*{!#strings.isEmpty(id)}">
						<div class="panel-heading" id="audit-heading" role="tab">
							<h2 class="panel-title">
								<a class="collapse-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#audit" aria-expanded="false" aria-controls="audit" role="button">
									Protokoll
								</a>
							</h2>
						</div>
						<div id="audit" class="panel-collapse collapse" aria-labelledby="audit-heading" role="tabpanel">
							<div class="panel-body">
								<div class="form-group" th:classappend="${#fields.hasErrors('version')}? 'has-error has-feedback'">
									<label for="version" class="control-label">Version der Buchung</label>
									<input type="text" class="form-control" th:field="*{version}" value="1" placeholder="Wird automatisch vergeben" readonly="readonly" /><span th:if="${#fields.hasErrors('version')}" class="glyphicon glyphicon-remove form-control-feedback"></span>
									<div th:if="${#fields.hasErrors('version')}" class="alert alert-danger" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <span th:errors="*{version}">Fehler in der Version</span></div>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('createDate')}? 'has-error has-feedback'">
									<label for="createDate" class="control-label">Angelegt am:</label>
									<input type="text" class="form-control" th:field="*{createDate}" value="2016-09-12 11:30" placeholder="Wird automatisch vergeben" readonly="readonly" /><span th:if="${#fields.hasErrors('createDate')}" class="glyphicon glyphicon-remove form-control-feedback"></span>
									<div th:if="${#fields.hasErrors('createDate')}" class="alert alert-danger" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <span th:errors="*{createDate}">Fehler im Datum</span></div>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('createBy')}? 'has-error has-feedback'">
									<label for="createBy" class="control-label">Angelegt von:</label>
									<input type="text" class="form-control" th:field="*{createBy}" value="admin" placeholder="Wird automatisch vergeben" readonly="readonly" /><span th:if="${#fields.hasErrors('createBy')}" class="glyphicon glyphicon-remove form-control-feedback"></span>
									<div th:if="${#fields.hasErrors('createBy')}" class="alert alert-danger" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <span th:errors="*{createBy}">Fehler im Benutzer</span></div>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('lastModifiedDate')}? 'has-error has-feedback'">
									<label for="lastModifiedDate" class="control-label">Geändert am:</label>
									<input type="text" class="form-control" th:field="*{lastModifiedDate}" value="2016-09-12 17:00" placeholder="Wird automatisch vergeben" readonly="readonly" /><span th:if="${#fields.hasErrors('lastModifiedDate')}" class="glyphicon glyphicon-remove form-control-feedback"></span>
									<div th:if="${#fields.hasErrors('lastModifiedDate')}" class="alert alert-danger" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <span th:errors="*{lastModifiedDate}">Fehler im Datum</span></div>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('lastModifiedBy')}? 'has-error has-feedback'">
									<label for="lastModifiedBy" class="control-label">Geändert von:</label>
									<input type="text" class="form-control" th:field="*{lastModifiedBy}" value="admin" placeholder="Wird automatisch vergeben" readonly="readonly" /><span th:if="${#fields.hasErrors('lastModifiedBy')}" class="glyphicon glyphicon-remove form-control-feedback"></span>
									<div th:if="${#fields.hasErrors('lastModifiedBy')}" class="alert alert-danger" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <span th:errors="*{lastModifiedBy}">Fehler im Benutzer</span></div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</form>

			<section>
				<p><a class="btn btn-default" href="security.html" th:href="@{/security/__${entry.security.id}__}"><span class="glyphicon glyphicon-chevron-left"></span> Zurück</a></p>
			</section>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script layout:fragment="script">
		$("#date").datepicker({
			dateFormat: "yy-mm-dd"
		}).attachDatepickerInputKeys();
	</script>
</body>
</html>