<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
>
<head>
	<meta charset="utf-8" />
	<title>Fehler in der Anwendung</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="container">
		<h1 layout:fragment="header">Fehler in der Anwendung</h1>
		<div layout:fragment="content">
			<section>
				<div class="alert alert-success" sec:authorize="isAuthenticated()">
					<b>Angemeldeter Benutzer:</b> <span sec:authentication="name">The logged user</span><br />
					<b>Seine Rollen:</b> <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
				</div>
				<div class="alert alert-info" th:if="${path}">
					<b>Seite:</b> <a href="#" th:href="${path}" th:text="${path}">The URL path when the exception was raised</a>
				</div>
				<div class="alert alert-info" th:if="${timestamp}">
					<b>Zeitpunkt:</b> <span th:text="${#dates.format(timestamp)}">The time that the errors were extracted</span>
				</div>
				<div class="alert alert-warning" th:if="${status}">
					<b>Status:</b> <span th:text="${status}">The status code</span> <span th:if="${error}" th:text="'('+${error}+')'">(The error reason)</span>
				</div>
				<div class="alert alert-danger" th:if="${message} and ${message.length() != 0}">
					<b>Meldung:</b> <span th:text="${message}">The exception message</span>
				</div>
				<div class="alert alert-danger" th:if="${errors}">
					<b>Fehler:</b> <span th:text="${errors}">Any <code>ObjectError</code> from a <code>BindingResult</code> exception</span>
				</div>
				<div class="alert alert-danger" th:if="${exception}">
					<b>Ausnahme:</b> <span th:text="${exception}">The class name of the root exception</span>
					<pre th:if="${trace}" th:text="${trace}">The exception stack trace</pre>
				</div>
				<div class="alert alert-danger" th:unless="${exception} or (${message} and ${message.length() != 0})">
					<b>Unbekannte Ursache</b>
				</div>
			</section>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>