<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout"
>
<head>
	<meta charset="utf-8" />
	<title>Informationen der Anwendung</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="container">
		<h1 layout:fragment="header">Informationen der Anwendung</h1>
		<div layout:fragment="content">
			<section>
				<h2>Management-API</h2>
				<div class="list-group">
					<a class="list-group-item" href="#" th:href="@{/actuator}" data-toggle="managementapi">Zeige die Hypermedia-Übersicht (spring-boot-starter-hateoas)</a>
					<a class="list-group-item" href="#" th:href="@{/actuator/health}" data-toggle="managementapi">Health-Informationen</a>
					<a class="list-group-item" href="#" th:href="@{/actuator/info}" data-toggle="managementapi">Informationen über die Anwendung</a>
					<a class="list-group-item" href="#" th:href="@{/actuator/env}" data-toggle="managementapi">Vollständiges Environment (System-Properties, System-Environmet, Application, ...)</a>
					<a class="list-group-item" href="#" th:href="@{/actuator/configprops}" data-toggle="managementapi">Konfiguration der Configuration-Klassen</a>
					<a class="list-group-item" href="#" th:href="@{/actuator/conditions}" data-toggle="managementapi">Bedingungen, unter denen die Configuration-Klassen aktiviert wurden</a>
					<a class="list-group-item" href="#" th:href="@{/actuator/beans}" data-toggle="managementapi">Alle Spring-Beans auflisten</a>
					<a class="list-group-item disabled" href="#" th:href="@{/actuator/flyway}" data-toggle="managementapi">Zeige das Ergebnis einer Flyway-Datenbankmigration</a>
					<a class="list-group-item disabled" href="#" th:href="@{/actuator/liquibase}" data-toggle="managementapi">Zeige das Ergebnis einer Liquibase-Datenbankmigration</a>
					<a class="list-group-item" href="#" th:href="@{/actuator/mappings}" data-toggle="managementapi">Request-Mapping</a>
					<a class="list-group-item" href="#" th:href="@{/actuator/httptrace}" data-toggle="managementapi">Trace-Informationen über die letzten 100 Requests</a>
					<a class="list-group-item disabled" href="#" th:href="@{/actuator/sessions}" data-toggle="managementapi">Zeige die (Spring-) Sessions an</a>
					<a class="list-group-item" href="#" th:href="@{/actuator/metrics}" data-toggle="managementapi">Zeige die Metriken</a>
					<a class="list-group-item disabled" href="#" th:href="@{/actuator/prometheus}" data-toggle="managementapi">Zeige die Metriken im Format für Prometheus</a>
					<a class="list-group-item" href="#" th:href="@{/actuator/threaddump}" data-toggle="managementapi">Zeige den Thread-Dump an</a>
					<a class="list-group-item" href="#" th:href="@{/actuator/heapdump}" target="_blank">Führe einen Heap-Dump aus (Download des GZip des HPROF Dumps)</a>
					<a class="list-group-item" href="#" th:href="@{/actuator/scheduledtasks}" data-toggle="managementapi">Zeige die geschedulten Klassen</a>
					<a class="list-group-item" href="#" th:href="@{/actuator/logfile}" target="_blank">Zeige den Inhalt der Logdatei</a>
					<a class="list-group-item" href="#" th:href="@{/actuator/loggers}" data-toggle="managementapi">Konfiguration der Loggers</a>
					<a class="list-group-item" href="#" th:href="@{/actuator/auditevents}" data-toggle="managementapi">Zeige die Audit Ereignisse</a>
					<a class="list-group-item" href="#" th:href="@{/actuator/jolokia}" data-toggle="managementapi">Zeige den JMX-Inhalt</a>
				</div>
			</section>
			<section>
				<h2>Datenbank</h2>
				<div class="list-group">
					<a class="list-group-item" href="/h2-console" th:href="@{/h2-console}" target="_blank">Konsole der Datenbank H2</a>
				</div>
			</section>
			<div id="modal" class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>
							<h4 id="title" class="modal-title">Antwort</h4>
						</div>
						<div class="modal-body">
							<pre id="text" class="modal-pre">Text</pre>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>