<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout"
>
<head>
	<meta charset="utf-8" />
	<title>Anmeldung</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="container">
		<h1 layout:fragment="header">Anmeldung</h1>
		<div layout:fragment="content">
			<div th:if="${param.error}" class="alert alert-danger" role="alert">
				Die Anmeldung konnte nicht durchgeführt werden! <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>

			<div th:if="${param.logout}" class="alert alert-success" role="alert">
				Sie wurden abgemeldet. <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>

			<section class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title">Anmeldung</h1>
				</div>
				<div class="panel-body">
					<form th:action="@{/login}" action="#" method="post" role="form">
						<div class="form-group" th:classappend="${param.error}? 'has-error has-feedback'">
							<label for="username" class="control-label">Benutzername:</label>
							<div class="input-group">
								<span class="input-group-addon glyphicon glyphicon-user"></span>
								<input type="text" id="username" name="username" placeholder="Hier Benutzername eingeben" autofocus="autofocus" class="form-control" />
							</div>
						</div>
						<div class="form-group" th:classappend="${param.error}? 'has-error has-feedback'">
							<label for="password" class="control-label">Passwort:</label>
							<div class="input-group">
								<span class="input-group-addon glyphicon glyphicon-lock"></span>
								<input type="password" id="password" name="password" placeholder="Hier Passwort eingeben" class="form-control" />
							</div>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-log-in"></span> Anmelden</button>
						</div>
					</form>
				</div>
			</section>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>