<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout"
>
<head>
	<meta charset="utf-8" />
	<title>Liste aller Wertpapiere</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="container">
		<h1 layout:fragment="header">Liste aller Wertpapiere</h1>
		<div layout:fragment="content">
			<section class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">
						<a class="collapse-toggle collapsed" href="#" data-toggle="collapse" data-target="#filter-body">Filter</a>
					</h2>
				</div>
				<div id="filter-body" class="panel-body collapse">
					<div class="form-group col-md-4 col-sm-4">
						<label><input id="inventory" name="inventory" type="checkbox" th:checked="${inventory}" /> Bestand</label>
					</div>
					<div class="form-group col-md-4 col-sm-4">
						<label for="type">Wertpapierart</label>
						<select id="type" name="type" class="form-control">
							<option value="" th:selected="${type == null}">-</option>
							<option value="stock" th:each="e: ${securityTypeList}" th:value="${e.key}" th:text="${e.value}" th:selected="${e.key==type?.name()}">Aktie</option>
						</select>
					</div>
					<div class="text-center col-md-4 col-sm-4">
						<div id="filter-btn" th:attr="data-url=@{/securities},data-page=${page.number},data-size=${page.size}" class="btn btn-success"><span class="glyphicon glyphicon-search"></span> Filtern</div>
					</div>
				</div>
			</section>

			<section class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Wertpapiere</h2>
				</div>
				<div class="panel-body">
					<div class="text-center" th:if="${page.totalPages gt 0}">
						<ul class="pagination">
							<li th:classappend="${page.first} ? 'disabled' : ''">
								<span th:if="${page.first}"><span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-left"></span></span><a href="#" th:if="${not page.first}" th:href="@{${#httpServletRequest.requestURI}(page=0,size=${page.size},inventory=${inventory})}"><span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-left"></span></a>
							</li>
							<li th:classappend="${page.hasPrevious()}? '' : 'disabled'">
								<span th:if="${not page.hasPrevious()}"><span class="glyphicon glyphicon-chevron-left"></span></span><a href="#" th:if="${page.hasPrevious()}" th:href="@{${#httpServletRequest.requestURI}(page=${page.number - 1},size=${page.size},inventory=${inventory})}"><span class="glyphicon glyphicon-chevron-left"></span></a>
							</li>
							<li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}" class="active" th:class="${page.number == i} ? 'active' : ''">
								<a href="#" th:href="@{${#httpServletRequest.requestURI}(page=${i},size=${page.size},inventory=${inventory})}"><span th:text="${i + 1}">1</span></a>
							</li>
							<li th:classappend="${page.hasNext()} ? '' : 'disabled'">
								<span th:if="${not page.hasNext()}"><span class="glyphicon glyphicon-chevron-right"></span></span><a href="#" th:if="${page.hasNext()}" th:href="@{${#httpServletRequest.requestURI}(page=${page.number + 1},size=${page.size},inventory=${inventory})}"><span class="glyphicon glyphicon-chevron-right"></span></a>
							</li>
							<li th:classappend="${page.last} ? 'disabled' : ''">
								<span th:if="${page.last}"><span class="glyphicon glyphicon-chevron-right"></span><span class="glyphicon glyphicon-chevron-right"></span></span><a href="#" th:if="${not page.last}" th:href="@{${#httpServletRequest.requestURI}(page=${page.totalPages - 1},size=${page.size},inventory=${inventory})}"><span class="glyphicon glyphicon-chevron-right"></span><span class="glyphicon glyphicon-chevron-right"></span></a>
							</li>
						</ul>
					</div>
					<table class="table table-responsive table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th>ISIN</th>
								<th>Wertpapier-Kennnummer</th>
								<th>Bezeichnung</th>
								<th>Kurzname</th>
								<th>Wertpapierart</th>
								<th sec:authorize="hasRole('ROLE_ADMIN')">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${page.numberOfElements == 0}">
								<td colspan="6">Keine Wertpapiere zum gewählten Filter vorhanden.</td>
							</tr>
							<tr th:each="security : ${page}">
								<td>
									<a href="security.html" th:href="@{/security/__${security.id}__}" th:text="${security.isin}">DE0001234560</a>
								</td>
								<td th:text="${security.wkn}">123456</td>
								<td th:text="${security.name}">Firma 1 AG</td>
								<td th:text="${security.symbol}">A01</td>
								<td th:text="${security.type.description}">Aktie</td>
								<td sec:authorize="hasRole('ROLE_ADMIN')"><a href="#" data-toggle="delete" th:attr="data-url=@{/security/__${security.id}__}"><span class="glyphicon glyphicon-trash" /></a></td>
							</tr>
						</tbody>
					</table>
					<div sec:authorize="hasRole('ROLE_ADMIN')">Ein neues <a href="security.html" th:href="@{/security}">Wertpapier anlegen</a>.</div>
				</div>
				<div class="panel-footer">
					Auf jeder Seite werden maximal <span th:text="${page.size}">20</span> Wertpapiere von insgesamt <span th:text="${page.totalElements}">21</span> Wertpapieren dargestellt.
				</div>
			</section>

			<section>
				<p><a class="btn btn-default" href="index.html" th:href="@{/}"><span class="glyphicon glyphicon-chevron-left"></span> Zurück</a></p>
			</section>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>