<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout"
>
<head>
	<meta charset="utf-8" />
	<title>Wertpapier</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="container">
		<h1 layout:fragment="header">Wertpapier</h1>
		<div layout:fragment="content">
			<form th:object="${security}" th:action="@{/security}" action="#" method="post" role="form">
				<div th:if="${#fields.hasErrors('${security}')}" class="alert alert-danger" role="alert">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><p th:errors="${security}">Allgemeiner Fehler</p>
				</div>
				<div id="accordion" class="panel-group" aria-multiselectable="true" role="tablist">
					<section class="panel panel-default">
						<div id="security-heading" class="panel-heading" role="tab">
							<h2 class="panel-title">
								<a class="collapse-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#security" aria-expanded="false" aria-controls="security" role="button">
									Wertpapier <span th:if="*{!#strings.isEmpty(id)}"><b><span th:text="*{name}">Firma A AG</span></b> (<span th:text="*{isin}">DE0001234560</span>)</span>
								</a>
							</h2>
						</div>
						<div id="security" class="panel-collapse collapse" th:classappend="*{#strings.isEmpty(id)}? 'in'" aria-labelledby="security-heading" role="tabpanel">
							<div class="panel-body">
								<div class="form-group" th:classappend="${#fields.hasErrors('id')}? 'has-error has-feedback'">
									<label for="id" class="control-label">ID:</label>
									<input type="text" class="form-control" th:field="*{id}" value="8ad72f6f-2a39-4846-8940-f6139f3d5597" placeholder="Wird automatisch vergeben" readonly="readonly"/><span th:if="${#fields.hasErrors('id')}" class="glyphicon glyphicon-remove form-control-feedback"></span>
									<div th:if="${#fields.hasErrors('id')}" class="alert alert-danger" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <span th:errors="*{id}">Fehler in der ID</span></div>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('isin')}? 'has-error has-feedback'">
									<label for="isin" class="control-label">ISIN:</label>
									<input type="text" class="form-control" th:field="*{isin}" value="DE0001234560" /><span th:if="${#fields.hasErrors('isin')}" class="glyphicon glyphicon-remove form-control-feedback"></span>
									<div th:if="${#fields.hasErrors('isin')}" class="alert alert-danger" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <span th:errors="*{isin}">Fehler in der ISIN</span></div>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('wkn')}? 'has-error has-feedback'">
									<label for="wkn" class="control-label">Wertpapier-Kennnummer:</label>
									<input type="text" class="form-control" th:field="*{wkn}" value="123456" /><span th:if="${#fields.hasErrors('wkn')}" class="glyphicon glyphicon-remove form-control-feedback"></span>
									<div th:if="${#fields.hasErrors('wkn')}" class="alert alert-danger" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <span th:errors="*{wkn}">Fehler in der Wertpapier-Kennnummer</span></div>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error has-feedback'">
									<label for="name" class="control-label">Name des Wertpapiers:</label>
									<input type="text" class="form-control" th:field="*{name}" value="Firma A AG" /><span th:if="${#fields.hasErrors('name')}" class="glyphicon glyphicon-remove form-control-feedback"></span>
									<div th:if="${#fields.hasErrors('name')}" class="alert alert-danger" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <span th:errors="*{name}">Fehler im Name</span></div>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('symbol')}? 'has-error has-feedback'">
									<label for="symbol" class="control-label">Symbol des Wertpapiers:</label>
									<input type="text" class="form-control" th:field="*{symbol}" value="A01" /><span th:if="${#fields.hasErrors('symbol')}" class="glyphicon glyphicon-remove form-control-feedback"></span>
									<div th:if="${#fields.hasErrors('symbol')}" class="alert alert-danger" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <span th:errors="*{symbol}">Fehler im Symbol</span></div>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('type')}? 'has-error has-feedback'">
									<label for="type" class="control-label">Wertpapierart:</label>
									<select class="form-control" th:field="*{type}">
										<option value="stock" th:each="e: ${securityTypeList}" th:value="${e.key}" th:text="${e.value}">Aktie</option>
									</select>
									<div th:if="${#fields.hasErrors('type')}" class="alert alert-danger" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <span th:errors="*{type}">Fehler in der Wertpapierart</span></div>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('inventory')}? 'has-error has-feedback'" th:if="*{!#strings.isEmpty(id)}">
									<div class="checkbox">
										<label>
											<input type="checkbox" th:checked="*{inventory}" checked="checked" disabled="disabled" /> Gibt es zu diesem Wertpapier einen Bestand?
										</label>
										<input type="hidden" th:field="*{inventory}" />
									</div>
									<div th:if="${#fields.hasErrors('inventory')}" class="alert alert-danger" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <span th:errors="*{inventory}">Fehler in der Angabe zum Bestand</span></div>
								</div>
								<div class="text-center">
									<a class="btn btn-default" href="securities.html" th:href="@{/securities}">Abbrechen</a>
									<button type="submit" class="btn btn-danger">Speichern</button>
								</div>
							</div>
						</div>
					</section>
					<section class="panel panel-default" th:if="*{!#strings.isEmpty(id)}">
						<div class="panel-heading" id="audit-heading" role="tab">
							<h2 class="panel-title">
								<a class="collapse-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#audit" aria-expanded="false" aria-controls="audit" role="button">
									Protokoll
								</a>
							</h2>
						</div>
						<div id="audit" class="panel-collapse collapse" aria-labelledby="audit-heading" role="tabpanel">
							<div class="panel-body">
								<div class="form-group" th:classappend="${#fields.hasErrors('version')}? 'has-error has-feedback'">
									<label for="version" class="control-label">Version des Wertpapiers:</label>
									<input type="text" class="form-control" th:field="*{version}" value="1" placeholder="Wird automatisch vergeben" readonly="readonly" /><span th:if="${#fields.hasErrors('version')}" class="glyphicon glyphicon-remove form-control-feedback"></span>
									<div th:if="${#fields.hasErrors('version')}" class="alert alert-danger" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <span th:errors="*{version}">Fehler in der Version</span></div>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('createDate')}? 'has-error has-feedback'">
									<label for="createDate" class="control-label">Angelegt am:</label>
									<input type="text" class="form-control" th:field="*{createDate}" value="2016-09-12" placeholder="Wird automatisch vergeben" readonly="readonly" /><span th:if="${#fields.hasErrors('createDate')}" class="glyphicon glyphicon-remove form-control-feedback"></span>
									<div th:if="${#fields.hasErrors('createDate')}" class="alert alert-danger" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <span th:errors="*{createDate}">Fehler im Datum</span></div>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('createBy')}? 'has-error has-feedback'">
									<label for="createBy" class="control-label">Angelegt von:</label>
									<input type="text" class="form-control" th:field="*{createBy}" value="admin" placeholder="Wird automatisch vergeben" readonly="readonly" /><span th:if="${#fields.hasErrors('createBy')}" class="glyphicon glyphicon-remove form-control-feedback"></span>
									<div th:if="${#fields.hasErrors('createBy')}" class="alert alert-danger" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <span th:errors="*{createBy}">Fehler im Benutzer</span></div>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('lastModifiedDate')}? 'has-error has-feedback'">
									<label for="lastModifiedDate" class="control-label">Geändert am:</label>
									<input type="text" class="form-control" th:field="*{lastModifiedDate}" value="2016-09-12" placeholder="Wird automatisch vergeben" readonly="readonly" /><span th:if="${#fields.hasErrors('lastModifiedDate')}" class="glyphicon glyphicon-remove form-control-feedback"></span>
									<div th:if="${#fields.hasErrors('lastModifiedDate')}" class="alert alert-danger" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <span th:errors="*{lastModifiedDate}">Fehler im Datum</span></div>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('lastModifiedBy')}? 'has-error has-feedback'">
									<label for="lastModifiedBy" class="control-label">Geändert von:</label>
									<input type="text" class="form-control" th:field="*{lastModifiedBy}" value="admin" placeholder="Wird automatisch vergeben" readonly="readonly" /><span th:if="${#fields.hasErrors('lastModifiedBy')}" class="glyphicon glyphicon-remove form-control-feedback"></span>
									<div th:if="${#fields.hasErrors('lastModifiedBy')}" class="alert alert-danger" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <span th:errors="*{lastModifiedBy}">Fehler im Benutzer</span></div>
								</div>
							</div>
						</div>
					</section>
					<section class="panel panel-default" th:if="*{!#strings.isEmpty(id)}">
						<div class="panel-heading" id="audit-heading" role="tab">
							<h2 class="panel-title">
								<a class="collapse-toggle" data-toggle="collapse" data-parent="#accordion" href="#entries" aria-expanded="true" aria-controls="entries" role="button">
									Buchungen
								</a>
							</h2>
						</div>
						<div id="entries" class="panel-collapse collapse in" aria-labelledby="entries-heading" role="tabpanel">
							<div class="panel-body">
								<p class="text-center">Pagination kommt hier hin</p>
							</div>
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th>Datum</th>
										<th>Anzahl</th>
										<th>Einzelpreis</th>
										<th>Gesamtsumme</th>
										<th>Buchungsart</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="*{entries==null or entries.empty}">
										<td colspan="5">Keine Buchungen vorhanden.</td>
									</tr>
									<tr th:each="entry : *{entries}">
										<td>
											<a href="entry.html" th:href="@{/security/__${entry.id}__}" th:text="${entry.date}">2016-10-23</a>
										</td>
										<td class="text-right" th:text="${#numbers.formatDecimal(entry.numberOf,1,'POINT',4,'COMMA')}">123,4567</td>
										<td class="text-right" th:text="${#numbers.formatDecimal(entry.price,1,'POINT',6,'COMMA')+' €'}">1,234567 €</td>
										<td class="text-right" th:text="${#numbers.formatDecimal(entry.amount,1,'POINT',6,'COMMA')+' €'}">152,415568 €</td>
										<td th:text="${entry.type.description}">Wertpapier Kauf</td>
									</tr>
								</tbody>
							</table>
						</div>
					</section>
				</div>
			</form>

			<section>
				<p><a class="btn btn-default" href="securities.html" th:href="@{/securities}"><span class="glyphicon glyphicon-chevron-left"></span> Zurück</a></p>
			</section>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>